* {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  padding: 4rem 2rem;
  box-sizing: border-box;
  background: radial-gradient(#1f3756, #141539);
  height: 100vh;
}

/* Heading */

.heading {
  max-width: 65.75rem;
  margin: 0 auto;
  border: 3px solid #5a5f77;
  border-radius: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.scoreDiv {
  margin-left: 1rem;
  background: #fff;
  flex: 1;
  max-width: 15rem;
  height: 11.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 4px 8px 0px #212121;
  box-shadow: 0px 4px 8px 0px #212121;
}

.scoreSpan {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  color: #2a46c0;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.scoreNumber {
  color: #3b4363;
  font-size: 7.5rem;
  line-height: 1;
}

/* Pick */

.pick {
  position: relative;
  z-index: 0;
  background-image: url(../../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 50rem;
  height: 34rem;
  margin: 7rem auto;
  display: flex;
  gap: 104px;
  flex-wrap: wrap;
  justify-content: center;
}

.button-pick {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: inset 0px 5px 0px 0px rgb(33 33 33 / 15%);
  box-shadow: inset 0px 5px 0px 0px rgb(33 33 33 / 15%);
  cursor: pointer;
}

.button-pick-big {
  position: relative;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: inset 0px 5px 0px 0px rgb(33 33 33 / 15%);
  box-shadow: inset 0px 5px 0px 0px rgb(33 33 33 / 15%);
}

.background-linear {
  content: "";
  position: absolute;
  top: -16px;
  bottom: -16px;
  right: -16px;
  left: -16px;
  z-index: -1;
  border-radius: inherit;
}

.background-linear-big {
  content: "";
  position: absolute;
  top: -22px;
  bottom: -22px;
  right: -22px;
  left: -22px;
  z-index: -1;
  border-radius: inherit;
}

.button-pick:hover .background-linear {
  animation: pulse 2s infinite;
}

.paper {
  background-image: url(../../images/icon-paper.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.scissors {
  background-image: url(../../images/icon-scissors.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.rock {
  background-image: url(../../images/icon-rock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.paper-color {
  background: linear-gradient(0deg, #4865f4, #5671f5);
  -webkit-box-shadow: 0px 6px 0px 0px #354ec5;
  box-shadow: 0px 6px 0px 0px #354ec5;
  color: #354ec5;
}

.scissors-color {
  background: linear-gradient(0deg, #ec9e0e, #eca922);
  -webkit-box-shadow: 0px 6px 0px 0px #c97327;
  box-shadow: 0px 6px 0px 0px #c97327;
  color: #c97327;
}

.rock-color {
  background: linear-gradient(0deg, #dc2e4e, #dd405d);
  -webkit-box-shadow: 0px 6px 0px 0px #a1223e;
  box-shadow: 0px 6px 0px 0px #a1223e;
  color: #a1223e;
}

/* Rules */

.rules {
  position: relative;
  margin: 5rem 0;
}

.button-rules {
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  cursor: pointer;
  padding: 1.1rem 3.7rem;
  background: transparent;
  position: fixed;
  right: 5rem;
  bottom: 2rem;
  outline: none;
  transition: all 1s ease-in-out;
}

.button-rules:hover,
.button-rules:focus {
  background: #fff;
  color: #141539;
  border-color: #141539;
  outline: none;
}

.rules-info {
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
}

.openModal {
  display: flex;
  transition: all 8s ease-in-out;
}

.closeModal {
  display: none;
}

.close {
  display: none;
}

.open {
  display: initial;
}

.info {
  margin: auto;
  width: 30rem;
  height: 40rem;
  border-radius: 0.8rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  background-image: url(../../images/image-rules.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.info-title {
  text-transform: uppercase;
  font-size: 3.2rem;
  line-height: 1;
  color: #1f3756;
}

.button-close {
  width: 4rem;
  height: 4rem;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.button-close:hover svg * {
  fill: #141539;
  opacity: 1;
}

/* Picked */

.battle {
  max-width: 75.75rem;
  margin: 5rem auto;
  padding: 2rem;
}

.battle-name {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

.battle-title {
  display: block;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.333;
  font-weight: 600;
  margin-bottom: 6.3rem;
  color: #fff;
}

.battle-player {
  height: 20rem;
  margin: 0 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result {
  margin: 0 4rem;
}

.result-title {
  text-align: center;
  font-size: 5.6rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2rem;
}

.button-play {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  color: #141539;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 1.1rem 3.7rem;
  background: #fff;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}

.button-play:hover,
.button-play:focus {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  outline: #fff;
}

/* Responsive */

@media (max-width: 780px) {
  /* .button-rules {
    bottom: 0rem;
  } */

  .battle {
    margin: 4rem auto 1.5rem auto;
    max-width: 60.04rem;
    padding: 0rem;
  }

  .battle-player {
    flex-wrap: wrap;
    align-items: center;
    height: auto;
  }

  .you {
    order: 1;
    margin-right: 40px;
  }
  .computer {
    order: 2;
  }
  .result {
    order: 3;
    margin: 6rem auto;
  }

  .battle-title {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .battle-name {
    padding: 0 5rem;
  }
}

@media (max-width: 480px) {
  .button-pick-big {
    width: 10rem;
    height: 10rem;
  }

  .background-linear-big {
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
  }
}

@media (max-width: 400px) {
  .heading img {
    width: 34%;
  }
  .scoreDiv {
    max-width: 11rem;
    height: 8.5rem;
  }
  .scoreSpan {
    font-size: 1.4rem;
  }
  .scoreNumber {
    font-size: 4.5rem;
  }

  /* --------------------------- */

  .pick {
    background-size: 22rem;
    height: 27rem;
    gap: 6rem;
  }

  .button-pick-big,
  .button-pick {
    width: 8rem;
    height: 8rem;
  }

  .background-linear-big,
  .background-linear {
    content: "";
    position: absolute;
    top: -14px;
    bottom: -14px;
    right: -14px;
    left: -14px;
    z-index: -1;
    border-radius: inherit;
  }

  .paper,
  .scissors,
  .rock {
    background-size: 3.5rem;
  }

  /* --------------------------- */

  .rules {
    display: flex;
    justify-content: center0;
    padding-bottom: 4rem;
  }

  .button-rules {
    position: initial;
    margin: 3rem auto 0 auto;
  }

  /* --------------------------- */

  .info {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    background-image: url(../../images/image-rules.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  /* --------------------------- */

  .battle-player {
    height: auto;
    margin: 0 3rem;
  }

  .battle-name {
    padding: 0 1rem;
  }

  .battle-title {
    margin-bottom: 4rem;
  }

  .result {
    margin: 4rem auto 0 auto;
  }

  .result-title {
    font-size: 4.6rem;
  }
}

/* Animations */

@keyframes pulse {
  0% {
    box-shadow: 0px 6px 0px 0px currentColor, 0 0 0 0 rgba(33, 33, 33, 0.7);
  }

  70% {
    box-shadow: 0px 6px 0px 0px currentColor, 0 0 0 4rem rgba(33, 33, 33, 0);
  }

  100% {
    box-shadow: 0px 6px 0px 0px currentColor, 0 0 0 0 rgba(33, 33, 33, 0);
  }
}
